
<section>
<div class="blogs hdbs">
  {{#each blogs}}
  <article>
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/blogs/{{id}}">{{title}}</a>
      </h2>
      <div>
        Blogged by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body hdbs">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>
</section>